repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

cdrom
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw vagrant
firewall --disabled
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
#auth --enableshadow --passalgo=sha512 --kickstart
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
user --name=vagrant --plaintext --password=vagrant --groups=wheel
reboot

%packages --ignoremissing --excludedocs
@Base
@Core
@Development Tools
openssh-clients
openssh-server
sudo
openssl-devel
readline-devel
zlib-devel
kernel-headers
kernel-devel
perl
gcc
make
net-tools
vim
wget
curl
rsync

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%post
#yum update -y
groupadd -g 671 ansible
useradd -u 671 -g 671 -s /bin/bash -d /home/ansible -m -c Ansible ansible
echo 'ansible    ALL=(ALL) NOPASSWD: ALL' > /etc/sudoers.d/ansible

mkdir -p /home/ansible/.ssh
chmod 700 /home/ansible/.ssh

# Add packer ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDROgcZHjj+UOrYkyPArFpjah8B8WcgDRV8JlMNIeVCvU4pQpb1HBMmZCsDLYFQyvRhBvsXbjJ792a5tkXqvZLUuI+mdiXBZKbaZp+5vfxiyQVbtPjcb1pmpm+bFkSeUrClC2Cq5w2eeQwJz3eOqbQnZzC9Jd8lWkY0hPunMjLkylM8AF3rSvXFg0Gkvk0PC6d0TUvHGVey8io9/MKObI4O33mWdne8m679C2FrEu8SkFJXnWj71+/4X5Trmc9JWuI+M7uhIMrql9ZHT6ekFer4UvUD4wZDsXCy42zatdeCuuru1YxbOH2g7n09dp7i8DFX+QOGkXeeUXiBnN8shZYJl7tExbpfergkuoYoIthshfxLoFzbEIVcTBOJqLYNsAz2H9BNwYzPgkWZugU5zGaOG4Pa5TazMa130WYm6h67maEiNtNrMTHnK14fWV8l0S7NyRZcWFh1GSTsw9TOw1U3xap+DobU9NgrGyKM9dF3frM+I/9ma0HcNsN7NUJzZ6M= jxpsys@strax.johnpetro.com" >> /opt/ansible/.ssh/authorized_keys
chown -R ansible:ansible /home/ansible
chmod 600 /home/ansible/.ssh/authorized_keys

# update root certs
#wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
wget http://curl.haxx.se/ca/cacert.pem -O /etc/pki/tls/certs/ca-bundle.crt

echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

%end
